<?xml version="1.0" encoding="UTF-8"?>
<modbusSimulator>

	<protocolType>MODBUS_TCP</protocolType>

	<tcpConnection>
		<port>8888</port>
	</tcpConnection>
	
	<modbusDataDefinition>
		<slaveId>1</slaveId>
		<functionCode>03</functionCode>
		<address>0</address>
		<quality>6</quality>
		<return06Exception>false</return06Exception>
	</modbusDataDefinition>

	<modbusDataList>
		<modbusData>
			<random>false</random>
			<autoIncrement>false</autoIncrement>
			<value>0</value>
		</modbusData>
		<modbusData>
			<random>true</random>
			<autoIncrement>false</autoIncrement>
			<value>0</value>
		</modbusData>
		<modbusData>
			<random>false</random>
			<autoIncrement>true</autoIncrement>
			<value>0</value>
		</modbusData>
		<modbusData>
			<random>false</random>
			<autoIncrement>true</autoIncrement>
			<value>0</value>
		</modbusData>
		<modbusData>
			<random>false</random>
			<autoIncrement>true</autoIncrement>
			<value>0</value>
		</modbusData>
		<modbusData>
			<random>false</random>
			<autoIncrement>false</autoIncrement>
			<value>0</value>
		</modbusData>
	</modbusDataList>

</modbusSimulator>