<?xml version="1.0" encoding="UTF-8"?>
<modbusSimulator>

	<serialConnection>
		<!-- MODBUS_ASCII,MODBUS_RTU -->
		<protocolType>MODBUS_RTU</protocolType>
		<comPort>port 1</comPort>
		<!-- 300, 600, 1200, 2400, 4800, 9600, 14400, 19200, 38400, 56000, 57600, 
			115200 -->
		<baudrate>300</baudrate>
		<!-- 7, 8 -->
		<dataBits>7</dataBits>
		<!-- 1, 2 -->
		<stopBits>2</stopBits>
		<!-- None, Odd, Even -->
		<parity>None</parity>
	</serialConnection>

	<tcpConnection>
		<port>8888</port>
	</tcpConnection>

	<modbusDataDefinition>
		<!-- [0, 255] -->
		<slaveId>0</slaveId>
		<!-- 01, 02, 03, 04 -->
		<functionCode>01</functionCode>
		<!-- [0, 65535] -->
		<address>0</address>
		<!-- [0, 4096] -->
		<quality>10</quality>
		<!-- true, false -->
		<return06Exception>false</return06Exception>
	</modbusDataDefinition>

	<modbusDataList>
		<modbusData>
			<!-- true, false -->
			<autoChange>false</autoChange>
			<!-- on, off -->
			<statusValue>off</statusValue>

			<!-- true, false -->
			<random>false</random>
			<!-- true, false -->
			<autoIncrement>false</autoIncrement>
			<value>0</value>
		</modbusData>
		<modbusData>
			<!-- true, false -->
			<autoChange>false</autoChange>
			<!-- on, off -->
			<statusValue>on</statusValue>

			<random>false</random>
			<autoIncrement>false</autoIncrement>
			<!-- [-32768, 32767] -->
			<value>0</value>
		</modbusData>
	</modbusDataList>

</modbusSimulator>